<div id="candidate-view">
    <div class="section">
		<div fi-view-box >
			<div><span style="font-size: 26px;">{{Candidate.firstName}}</span>&nbsp;<span style="font-size: 18px;">{{Candidate.lastName}}</span></div>
			<div>
				<span ng-show="Candidate.currentPosition">{{Candidate.currentPosition}},&nbsp;{{Candidate.currentCompany}}</span>
				<span ng-hide="Candidate.currentPosition">{{Candidate.currentdegree}},&nbsp;{{Candidate.current}}</span>
			</div>
			<div><span>{{Candidate.currentLocation}}</span></div>
			<div fi-email>{{Candidate.email}}</div>
			<div fi-phone>{{Candidate.phone}}</div>
		</div>
	</div>
	<div class="section">
		<div fi-user-image style="float:right; margin-left:10px;"></div>
 		<div fi-view-box box-height="150px">
 			<div class="summary-title">Summary</div>
 			<div class="summary-details">
 				{{Candidate.summary}}
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-view-box>
			<div class="summary-title">Education History</div>
			<div class="summary-details" ng-repeat="education in Candidate.educationHistory" ng-class="{ 'summary-seperator': !$last }">
				<div>{{education.school}}, {{education.location}}</div>
				<div>{{education.degree}}</div>
				<div>{{education.startDate}} - {{education.endDate}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-view-box>
			<div class="summary-title">Work History</div>
			<div class="summary-details" ng-repeat="work in Candidate.workHistory" ng-class="{ 'summary-seperator': !$last }">
				<div>{{work.position}}</div>
				<div>{{work.company}}, {{work.location}}</div>
				<div>{{work.startDate}} - {{work.endDate}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-view-box>
			<div class="summary-title">Projects</div>
			<div class="summary-details" ng-repeat="project in Candidate.projects" ng-class="{ 'summary-seperator': !$last }">
				<div style="font-size: 16px">{{project.name}}</div>
				<div style="padding-left: 20px;">{{project.description}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-view-box>
			<div class="summary-title">Skill Sets</div>
			<div class="summary-details" ng-repeat="skill in Candidate.skills" ng-class="{ 'summary-seperator': !$last }">
				<div>{{skill.name}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-view-box>
			<div class="summary-title">Candidate Event's Summary</div>
			<div class="summary-details">
				<div><span ng-show="Candidate.sex === 'Male'">He</span><span ng-show="Candidate.sex === 'Female'">She</span> appeared for <span>{{Candidate.events.Items.length}}</span> time(s).</div>
				<div ng-repeat="event in Candidate.events.Items">In {{event.title}}, {{event.body}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div fi-accordion accordion-type="horizontal">
			<div fi-accordion-item ng-repeat="accordionItem in Candidate.events.Items" accordion-item="accordionItem" accordion-title="accordionItem.title">
<!--				<div fi-accordion-item-summary> {{ accordionItem.summary }} </div> -->
				{{ accordionItem.body }}
			</div>
		</div>
	</div>
</div>